* {
    padding: 0;
    margin: 0;
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: center;
  align-items: center;
}

.container{
    text-align: center;
}

.container h2{
    margin-top: 20px;
    font-size: 60px !important;
}

main .icons{
    padding: 35px;
    display: flex;
    justify-content: center;
}

.icons img{
    padding: 0 10px;
    width: 4.5em;
}


#icon{
    transform: scale(0.8);
}

#icon:hover{
    transform: scale(1);
    transition: 0.3s;
}

#xmark {
    animation: blink 2.5s steps(5, start) infinite;
    
}


@media(max-width: 800px){
 * {
    padding: 0;
    margin: 0;
    }

    .container h2{
        margin-top: 50px;
        font-size: 3.5em;
    }
    
    main .icons{
        display: flex;
        justify-content: center;
    }

    #main{
        width: 20em;
    }

    #xmark {
        font-size: 25px;
        padding-top: 0.3em;

    }

    #icon{
        transform: scale(1);
    }
    
    #icon:hover{
        transform: scale(1);
    }

    .icons img{
        padding: 0 10px;
        width: 3.2em;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}